<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_01_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,422},{52,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{52,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,300},{50,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{50,124}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,422},{56,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{56,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,544},{52,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,35},{52,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,424},{50,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{50,124}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,546},{56,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{56,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,300},{52,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{52,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,300},{50,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{50,124}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,300},{56,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{56,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,422},{52,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{52,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{50,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{50,124}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,424},{56,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{56,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,300},{52,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{52,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{50,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{50,124}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_01_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{56,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{56,122}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>e_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,300},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,364},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,300},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,524},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,460},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,396},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,300},{62,96}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,96}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>e_03_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{600,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,300}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>e_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,428},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pack_elements.png</string>
            <key>size</key>
            <string>{605,605}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5b68555df76207c36cda04deac36643$</string>
            <key>textureFileName</key>
            <string>pack_elements.png</string>
        </dict>
    </dict>
</plist>
