<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levels_screen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{1600,878}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,878}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>levels_screen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2930,2124},{1324,360}}</string>
                <key>offset</key>
                <string>{0,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,142},{1324,360}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>levels_screen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2848},{1324,360}}</string>
                <key>offset</key>
                <string>{0,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,142},{1324,360}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>levels_screen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2486},{1324,360}}</string>
                <key>offset</key>
                <string>{0,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,142},{1324,360}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>levels_screen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2124},{1324,360}}</string>
                <key>offset</key>
                <string>{0,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,142},{1324,360}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>loading_screen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2674},{1600,632}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{1600,632}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>points_screen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,882},{1600,838}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,838}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>recycling_screen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{1600,866}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,866}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>regions_screen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{1600,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,900}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>title_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1600,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,900}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>title_screen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1722},{1514,400}}</string>
                <key>offset</key>
                <string>{-3,-226}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,476},{1514,400}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>title_screen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3206,2},{1140,238}}</string>
                <key>offset</key>
                <string>{-8,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,504},{1140,238}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>title_screen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3292,1960},{806,214}}</string>
                <key>offset</key>
                <string>{-8,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,518},{806,214}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>title_screen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3206,1144},{814,222}}</string>
                <key>offset</key>
                <string>{-8,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,518},{814,222}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>title_screen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3292,2768},{664,214}}</string>
                <key>offset</key>
                <string>{-8,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,518},{664,214}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>title_screen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,3210},{1100,222}}</string>
                <key>offset</key>
                <string>{-8,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,518},{1100,222}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pack_screens.png</string>
            <key>size</key>
            <string>{3509,3509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b026544fe130318c4acc1b80437a2853$</string>
            <key>textureFileName</key>
            <string>pack_screens.png</string>
        </dict>
    </dict>
</plist>
