<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pag00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1600,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,900}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,3034},{1340,456}}</string>
                <key>offset</key>
                <string>{9,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,122},{1340,456}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{1368,450}}</string>
                <key>offset</key>
                <string>{23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,129},{1368,450}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2984,2},{1354,464}}</string>
                <key>offset</key>
                <string>{16,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,118},{1354,464}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{1378,414}}</string>
                <key>offset</key>
                <string>{28,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,165},{1378,414}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2746,1358},{1328,462}}</string>
                <key>offset</key>
                <string>{3,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,116},{1328,462}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2594},{1358,438}}</string>
                <key>offset</key>
                <string>{19,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,140},{1358,438}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1720},{1368,436}}</string>
                <key>offset</key>
                <string>{23,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,143},{1368,436}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,418},{1376,436}}</string>
                <key>offset</key>
                <string>{27,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,143},{1376,436}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3106},{1340,444}}</string>
                <key>offset</key>
                <string>{10,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,134},{1340,444}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,856},{1374,434}}</string>
                <key>offset</key>
                <string>{26,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,144},{1374,434}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{1364,444}}</string>
                <key>offset</key>
                <string>{22,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,134},{1364,444}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1292},{1370,426}}</string>
                <key>offset</key>
                <string>{25,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,152},{1370,426}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2238},{1358,438}}</string>
                <key>offset</key>
                <string>{19,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,140},{1358,438}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2678},{1354,426}}</string>
                <key>offset</key>
                <string>{16,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,152},{1354,426}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2158},{1364,434}}</string>
                <key>offset</key>
                <string>{21,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,145},{1364,434}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
            <key>pag04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{1370,434}}</string>
                <key>offset</key>
                <string>{25,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,144},{1370,434}}</string>
                <key>sourceSize</key>
                <string>{1600,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pack_book.png</string>
            <key>size</key>
            <string>{3552,3552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cf6ca8b890cdccf858d2de2abdb4b3c$</string>
            <key>textureFileName</key>
            <string>pack_book.png</string>
        </dict>
    </dict>
</plist>
